{% extends 'information/base.html' %}
{% block content %}
{% load static %}
<!-- Content Header (Page header) -->
<div class=" login-page">
<div class="login-box ">
    <div class="login-logo">
        <a href="../../index2.html"><b>sel-</b>E</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Connectez-vous à votre compte</p>

                <form id="login_form" action="{% url 'authentication:login'%}" method="post" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group mb-3">
                        {{ field.label }}
                        {{ field }}
                        {% for error in field.errors %}
                            {% if error %}
                                <p class="text-danger"> {{ error }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                        <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <button type="submit" class="btn btn-primary btn-block mt-5">Se connecter</button>
                </form>

            <!-- /.social-auth-links -->

            <p class="mt-3 mb-1 text-center">
                <a href="forgot-password.html">J'ai oublié mon mot de passe</a>
            </p>
            <p class="mb-0 text-center">
                <a href="register.html" class="text-center">Pas de compte? Créer un compte</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
</div>
<!-- /.login-box -->
<!-- /.content -->
{% endblock %}