{% extends 'information/base.html' %}
{% block content %}
{% load static %}
<!-- Content Header (Page header) -->
<div class=" login-page">
    <div class="login-box ">
        <div class="login-logo">
            <a href="../../index2.html"><b>sel-</b>E</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Modifier mon compte</p>
                <form id="update_custom_user_form" action="{% url 'authentication:update_custom_user'%}" method="post" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group mb-3">
                            {{ field.label }}
                            {{ field }}
                            {% for error in field.errors %}
                                {% if error %}
                                    <p class="text-danger"> {{ error }}</p>
                                {% endif %}
                            {% endfor %}
                            {% if field == form.postal_code or field == form.collectivity%}
                                {% if messages %}
                                    {% for message in messages %}
                                        <p class="text-danger"> {{ message }}</p>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}

                </form>
                <div class="row">
                    <div class="col-6">
                        <a href="{% url 'information:home'%}" role="button">
                            <button type="button" class="btn btn-secondary btn-block mt-5">
                                Annuler
                            </button>
                        </a>
                    </div>
                    <div class="col-6">
                        <button type="submit" form="update_custom_user_form" class="btn btn-success btn-block mt-5">
                            Modifier
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.login-card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->
</div>
<!-- /.login-page -->
{% endblock %}