{% extends 'information/base.html' %}
{% block content %}
{% load static %}
<!-- Content Header (Page header) -->
<div class=" login-page">
    <div class="login-box ">
        <div class="login-logo">
            <a href="../../index2.html"><b>sel-</b>E</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Participer au vote</p>
                <p class="font-weight-bold"> "{{voting.question}}"</p>
                <form id="create_vote_form" name="create_vote_form" action="{% url 'vote:create_vote' id_voting=voting.id %}" method="post" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            <button type="submit" id="yes_button" name="form_vote" class="btn btn-success btn-block mt-4" value="yes" >
                                Oui
                            </button>
                        </div>
                        <div class="col-6">
                            <button type="submit" name="form_vote" class="btn btn-danger btn-block mt-4" value="no">
                                Non
                            </button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-12">
                        <a href="{% url 'vote:read_voting' id_voting=voting.id %}" role="button">
                            <button type="button" class="text-secondary btn btn-block btn-light border border-secondary mt-5">
                                Retour
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.login-card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->
</div>
<!-- /.login-page -->
{% endblock %}