{% extends 'information/base.html' %}
{% block content %}
{% load static %}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Vote - <span class="text-primary font-weight-bold font-italic">
                        Demande-t-on le nettoyage du mur Rue du Bac?</span></h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">

    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-vote-yea mr-1"></i>Détail</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="card-body">
                        <p class="card-text">Question:</br>
                        <span class="card-text text-secondary">Demande-t-on le nettoyage du mur Rue du Bac?</span></p>
                        <p class="card-text">Mode de scrutin:</br>
                            <span class="card-text text-secondary">Consensus (75%)</span>
                        </p>
                        <p class="card-text">Statut</br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-4">
                    <div class="info-box bg-light">
                        <div class="info-box-content">
                            <span class="info-box-text text-center text-muted">Début</span>
                            <span class="info-box-number text-center text-muted mb-0">31-12-2021</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="info-box bg-light">
                        <div class="info-box-content">
                            <span class="info-box-text text-center text-muted">Fin</span>
                            <span class="info-box-number text-center text-muted mb-0">07-01-2022</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="info-box bg-light border border-success">
                        <div class="info-box-content">
                            <span class="info-box-text text-center text-success font-weight-bold">Ouvert</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-body text-truncate">
                        <p class="card-text">Résultat:</br>
                            <span class="card-text text-secondary">Vote en cours...</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer bg-white clearfix">
            <div class="row mb-2">
                <div class="col-sm-3 mt-4">
                    <a href="#" role="button">
                        <button type="button"
                            class="text-secondary btn btn-block btn-light border border-secondary btn-sm">Annuler</button>
                    </a>
                </div>
                <div class="col-sm-6 mt-4"></div>
                <div class="col-sm-3 mt-4">
                    <a href="{% url 'vote:voting' %}" role="button">
                        <button type="button" class="btn btn-block btn-success btn-sm ">Voter</button>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>

</section>
<!-- /.content -->
{% endblock %}