{% extends 'information/base.html' %}
{% block content %}
{% load static %}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Vote - <span class="text-primary font-weight-bold font-italic">
                        Crée-t-on une "demande" de groupe pour le nettoyage du mur Rue du Bac?</span></h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-vote-yea mr-1"></i>Vote</h3>
        </div>
        <div class="card-body">
            <div class="card-body text-center">
                <h5 class="card-text text-primary font-weight-bold">
                    Crée-t-on une "demande" de groupe pour le nettoyage du mur Rue du Bac?</span>
                </h5>
            </div>
            <fieldset class="form-group text-center">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                    <label class="form-check-label" for="gridRadios1">
                        Oui
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                    <label class="form-check-label" for="gridRadios1">
                        Non
                    </label>
                </div>
            </fieldset>
        </div>
        <div class="card-footer bg-white clearfix">
            <div class="row">
                <div class="col-sm-3 mb-2">
                    <a href="#" role="button">
                        <button type="button"
                            class="text-secondary btn btn-block btn-light border border-secondary btn-sm">Annuler</button>
                    </a>
                </div>
                <div class="col-sm-6 mb-2"></div>
                <div class="col-sm-3 mb-2">
                    <a href="#" role="button">
                        <button type="button" class="btn btn-block btn-success btn-sm ">Voter</button>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
</section>
<!-- /.content -->
{% endblock %}