
{% extends 'exchange/base.html' %}
{% block content %}
  {% load static %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">sel-e</h1>
            <h5 class="m-0">système d'échange local électronique</h5>
          </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row mb-2">
          <div class="col-5 col-sm-4 col-md-3 col-xl-2">
            <a href="#">
              <button type="button" class=" mb-2 mt-3 btn btn-block btn-outline-primary">Connexion</button>
            </a>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-primary">
              <div class="inner">
                <h3>150</h3>

                <p>Nombre de propositions</p>
              </div>
              <div class="icon">
                <i class="fas fa-bullseye"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-primary ">
              <div class="inner">
                <h3>53</h3>

                <p>Nombre d'utilisateurs</p>
              </div>
              <div class="icon">
                <i class="fas fa-user"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-primary">
              <div class="inner">
                <h3>44</h3>

                <p>Nombre de groupes</p>
              </div>
              <div class="icon">
                <i class="fas fa-users"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-primary">
              <div class="inner">
                <h3>12</h3>

                <p>Nombre de votes</p>
              </div>
              <div class="icon">
                <i class="fas fa-vote-yea"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-7 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="card" style="height: 450px;">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-chart-pie mr-1"></i>
                  Propositions (évolution)
                </h3>
                <div class="card-tools">
                  <ul class="nav nav-pills ml-auto">
                    <li class="nav-item">
                      <a class="nav-link active" href="#revenue-chart" data-toggle="tab">Lignes</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#sales-chart" data-toggle="tab">Secteurs</a>
                    </li>
                  </ul>
                </div>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content p-0">
                  <!-- Morris chart - Sales -->
                  <div class="chart tab-pane active" id="revenue-chart"
                      style="position: relative; height: 350px;">
                      <canvas id="revenue-chart-canvas" height="300" style="height: 300px;"></canvas>
                  </div>
                  <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;">
                    <canvas id="sales-chart-canvas" height="300" style="height: 300px;"></canvas>
                  </div>
                </div>
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->

          </section>
          <!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
          <section class="col-lg-5 connectedSortable">

            <!-- Map card -->
            <!-- <div class="card bg-gradient-primary"> -->
            <div class="card" style="height: 450px;">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-map-marker-alt mr-1"></i>
                  Groupes locaux actifs
                </h3>
                <!-- card tools -->
                <div class="card-tools">

                  <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              <div class="card-body">
                <div id="map" style="height: 325px; width: 100%;" data-json="{{ mapbox_url }}" data-geojson="{{ vector_layer }}"></div>
              </div>
              <!-- /.card-body-->
            </div>
            <!-- /.card -->
          </section>
          <!-- right col -->
          <!-- one col (We are only adding the ID to make the widgets sortable)-->
          <section class="col">
          
            <!-- Map card -->
            <!-- <div class="card bg-gradient-primary"> -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-bullseye mr-1"></i>
                  Dernières propositions
                </h3>
                <!-- card tools -->
                <div class="card-tools">
                  <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-3 col-6">
                    <div class="small-box bg-light ">
                      <div class="inner">
                        <div class="text-truncate">
                          <h5>1 kg de pommes de terres</h5>
                          Type:
                          <span class="text-secondary">
                            Offre
                          </span></br>
                          Nature:
                          <span class="text-secondary">
                            Produit
                          </span></br>
                          Catégorie:
                          <span class="text-secondary">
                            Agricole
                          </span></br>
                          Durée de travail:
                          <span class="text-secondary">
                            240 minutes
                          </span></br>
                          Description:
                          <span class="text-secondary">
                            Je propose 1 kg de pommes de terres récoltées la
                            semaine dernière dans ma ferme des
                          </span></br>
                          Créateur(type):
                          <span class="text-secondary">
                            Utilisateur
                          </span></br>
                          Groupe local:
                          <span class="text-secondary">
                            Bourg-la-Reine
                          </span></br>
                        </div>
                      </div>
                      <a href="#" class="small-box-footer bg-primary text-white">
                        <span class="text-white">
                          Plus d'info 
                          <i class="fas fa-arrow-circle-right"></i>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-6">
                    <div class="small-box bg-light ">
                      <div class="inner">
                        <div class="text-truncate">
                        <h5>Cours de python</h5>
                          Type:
                          <span class="text-secondary">
                            Demande
                          </span></br>
                          Nature:
                          <span class="text-secondary">
                            Activité
                          </span></br>
                          Catégorie:
                          <span class="text-secondary">
                            Education
                          </span></br>
                            Durée de travail:
                          <span class="text-secondary">
                            45 minutes
                          </span></br>
                          Description:
                          <span class="text-secondary">
                            Je cherche à apprendre le languague python pendant
                            1h heure.
                          </span></br>
                          Créateur(type):
                          <span class="text-secondary">
                            Utilisateur
                          </span></br>
                          Groupe local:
                          <span class="text-secondary">
                            Bagneux
                          </span></br>
                        </div>
                      </div>
                      <a href="#" class="small-box-footer bg-primary text-white"><span class="text-white">Plus d'info <i class="fas fa-arrow-circle-right"></i></span></a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-6">
                    <div class="small-box bg-light ">
                      <div class="inner">
                        <div class="text-truncate">
                          <h5>Nettoyage du mur Rue du Bac</h5>
                  
                          Type:
                          <span class="text-secondary">
                            Demande
                          </span></br>
                          Nature:
                          <span class="text-secondary">
                            Activité
                          </span></br>
                          Catégorie:
                          <span class="text-secondary">
                            Nettoyage
                          </span></br>
                          Durée de travail:
                          <span class="text-secondary">
                            60 minutes
                          </span></br>
                          Description:
                          <span class="text-secondary">
                            Nous cherchons des volontaires pour nettoyer le 
                            mur dégradé à la Rue du Bac.
                          </span></br>
                          Créateur(type):
                          <span class="text-secondary">
                            Groupe
                          </span></br>
                          Groupe local:
                          <span class="text-secondary">
                            Suresnes
                          </span></br>
                        </div>
                      </div>
                      <a href="#" class="small-box-footer bg-primary text-white"><span class="text-white">Plus d'info <i
                            class="fas fa-arrow-circle-right"></i></span></a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-6">
                    <div class="small-box bg-light ">
                      <div class="inner">
                        <div class="text-truncate">
                          <h5>Aide au devoirs</h5>
                          Type:
                          <span class="text-secondary">
                            Offre
                          </span></br>
                          Nature:
                          <span class="text-secondary">
                            Activité
                          </span></br>
                          Catégorie:
                          <span class="text-secondary">
                            Education
                          </span></br>
                          Durée de travail:
                          <span class="text-secondary">
                            45 minutes
                          </span></br>
                          Description:
                          <span class="text-secondary">
                            Je propose de l'aide au devoir.
                          </span></br>
                          Créateur(type):
                          <span class="text-secondary">
                            Utilsateur
                          </span></br>
                          Groupe local:
                          <span class="text-secondary">
                            Montreuil
                          </span></br>
                        </div>
                      </div>
                      <a href="#" class="small-box-footer bg-primary text-white"><span class="text-white">Plus d'info <i
                            class="fas fa-arrow-circle-right"></i></span></a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body-->
              <div class="card-footer bg-transparent">
                <div class="row">
                  <!-- <div class="col-4 text-center">
                              <div id="sparkline-1"></div>
                              <div class="text-white">Visitors</div>
                            </div> -->
                  <!-- ./col -->
                </div>
                <!-- /.row -->
              </div>
            </div>
            <!-- /.card -->
          </section>
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}