{% extends 'exchange/base.html' %}

{% block content %}
{% load static %}
    <div class="bg-secondary text-center" style="height: 900px;">
            <div class="container-fluid">
            <h1 class="display-4 text-warning p-5">Système d'échange local électronique (Sel-E)</h1>
            <img src="{% static 'exchange/images/underconstruction.png' %}" id="" width="300" alt="under construction">
            <h1 class="lead text-warning">This site is under construction. It will be released at Q2 2022.</h1>
            </div>
    </div>

{% endblock %}