
{% extends 'information/base.html' %}
{% block content %}
  {% load static %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Tableau de bord - <span class="text-primary font-weight-bold font-italic">
              {{ user.collectivity.name }} ({{ user.collectivity.postal_code }})</span>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-white">
              <div class="inner">
                <h3>{{collectivity_p_counts}}</h3>
                <p>Nombre de propositions</p>
              </div>
              <div class="icon">
                <i class="fas fa-tags"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-white ">
              <div class="inner">
                <h3>{{collectivity_cu_counts}}</h3>
                <p>Nombre de membres</p>
              </div>
              <div class="icon">
                <i class="fas fa-users"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-white">
              <div class="inner">
                <h3>{{collectivity_d_counts}}</h3>
                <p>Nombre de discussions</p>
              </div>
              <div class="icon">
                <i class="fas fa-comments"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-white">
              <div class="inner">
                <h3>{{collectivity_v_counts}}</h3>
                <p>Nombre de votations</p>
              </div>
              <div class="icon">
                <i class="fas fa-vote-yea"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <!-- <section class="col-lg-6">
            <div class="card " style="height: 450px;">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-chart-bar mr-1"></i>
                  Stats
                </h3>
            
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas id="lineChart" style="min-height: 250px; height: 360px; max-height: 360px; max-width: 100%;"></canvas>
                </div>
              </div>
            </div>
          </section> -->
          <!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
          <section class="col-xl-6">

            <!-- User card -->
            <div class="card" style="min-height: 400px;">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-users mr-1"></i>
                  Utilisateurs
                </h3>
              </div>
              <!-- /.card-header -->

              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-sm table-borderless">
                    <thead class="text-center">
                      <tr>
                        <th>#</th>
                        <th>Nom d'utilisateur</th>
                        <th>Nombre de propositions</th>
                        <th>Balance (min)</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      {% for custom_user in custom_user_pag_obj%}
                        <tr>
                          <td>{{custom_user.id}}</td>
                          <td>{{custom_user.user_name}}</td>
                          <td>
                            {% for item in custom_users_p_counts %}
                              {% if item.id == custom_user.id %}
                                  {{item.count}}
                              {% endif%}
                            {% endfor%}
                          </td>                        
                          {% if custom_user.balance < 0 %}
                            <td class=" text-center text-danger">{{custom_user.balance}}</span></td>
                          {% else %}
                            <td class=" text-center text-success">{{custom_user.balance}}</span></td>
                          {% endif %}
                        </tr>
                      {% endfor%}
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- /.card-body-->

              <div class="card-footer bg-white clearfix">
                <div class="row align-items-end text-center">
                  <div class="col">
                    <ul class="pagination pagination-sm m-0 float-right">
                      {% if custom_user_pag_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ custom_user_pag_obj.previous_page_number }}">&laquo;</a></li>
                      {% endif %}
                      {% for i in custom_user_pag_obj.paginator.page_range %}
                        {% if custom_user_pag_obj.number == i %}
                          <li class="page-item active"><a class="page-link" href=?page="{{ i }}">{{i}}</a></li>
                        {% else %}
                          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                      {% endfor %}
                      {% if custom_user_pag_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ custom_user_pag_obj.next_page_number }}">&raquo;</a></li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
              <!-- /.card-footer-->
            </div>
            <!-- /.card -->
          </section>
          
          <!-- right col -->
          <!-- one col (We are only adding the ID to make the widgets sortable)-->
          <section class="col-xl-6">
          
            <!-- Last poposals cards -->
            <div class="card" style="min-height: 400px;">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-tags mr-1"></i>
                  Propositions
                </h3>
              </div>

              <!-- Table . 2nd card-body-->
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-sm table-borderless">
                    <thead class="">
                      <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Nom</th>
                        <th class="text-center">Type</th>
                        <th class="text-center">Temps de travail</th>
                        <th class="text-center bg-light">Statut</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for proposition in proposition_pag_obj%}
                      <tr>
                        <td class="text-center">
                          {{proposition.id}}
                        </td>
                        <td class="text-center">
                          {{proposition.name}}
                        </td>
                        <td class="text-center">
                          {{proposition.proposition_kind}}
                        </td>
                        <td class="text-center">
                          {{proposition.duration}}
                        </td>
                        <td class="text-center font-italic bg-light">
                          {{proposition.proposition_status}}
                        </td>
                        <!-- <td class="text-center">
                          {{proposition.start_date}}
                        </td class="text-center">
                        <td class="text-center">
                          {{proposition.end_date}}
                        </td class="text-center">
                        <td class="text-center">
                          {{proposition.proposition_creator}}
                        </td>
                        <td class="text-center">
                          {{proposition.proposition_taker}}
                        </td> -->
                        <td>
                          <a href="{% url 'proposition:read_proposition' id_proposition=proposition.id %}" role="button">
                            <button type="button"
                              class=" text-primary btn btn-block btn-light border border-primary btn-sm">Regarder</button>
                          </a>
                        </td>
                      </tr>
                      {% endfor%}
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-footer bg-white clearfix">
                <div class="row align-items-end text-center">
                  <div class="col">
                    <ul class="pagination pagination-sm m-0 float-right">
                      {% if proposition_pag_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ proposition_pag_obj.previous_page_number }}">&laquo;</a></li>
                      {% endif %}
                      {% for i in proposition_pag_obj.paginator.page_range %}
                        {% if proposition_pag_obj.number == i %}
                          <li class="page-item active"><a class="page-link" href=?page="{{ i }}">{{i}}</a></li>
                        {% else %}
                          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                      {% endfor %}
                      {% if proposition_pag_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ proposition_pag_obj.next_page_number }}">&raquo;</a></li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
              <!-- /.card-footer-->



            </div>
            <!-- /.card -->
          </section>

          <section class="col-xl-6">
            <!-- User card -->
            <div class="card" style="min-height: 400px;">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-comments mr-1"></i>
                  Discussions
                </h3>
              </div>
              <!-- /.card-header -->
          
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-sm table-borderless">
                    <thead class="">
                      <tr>
                        <th>#</th>
                        <th>Sujet</th>
                        <th class="text-center">Date de création</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for discussion in discussion_pag_obj %}
                      <tr>
                        <td>
                          {{discussion.id}}
                        </td>
                        <td>
                          {{discussion.subject}}
                        </td>
                        <td class="text-center">
                          {{discussion.creation_date}}
                        </td>
                        <td>
                          <a href="{% url 'chat:read_discussion' id_discussion=discussion.id %}" role="button">
                            <button type="button"
                              class=" text-primary btn btn-block btn-light border border-primary btn-sm">Regarder</button>
                          </a>
                        </td>
                      </tr>
                      {% endfor%}
                    </tbody>
                  </table>
                </div>
              </div>     
              <div class="card-footer bg-white clearfix">
                <div class="row align-items-end text-center">
                  <div class="col">
                    <ul class="pagination pagination-sm m-0 float-right">
                      {% if discussion_pag_obj.has_previous %}
                      <li class="page-item"><a class="page-link" href="?page={{ discussion_pag_obj.previous_page_number }}">&laquo;</a></li>
                      {% endif %}
                      {% for i in discussion_pag_obj.paginator.page_range %}
                      {% if discussion_pag_obj.number == i %}
                      <li class="page-item active"><a class="page-link" href=?page="{{ i }}">{{i}}</a></li>
                      {% else %}
                      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                      {% endfor %}
                      {% if discussion_pag_obj.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ discussion_pag_obj.next_page_number }}">&raquo;</a></li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
              <!-- /.card-footer-->
            </div>
            <!-- /.card -->
          </section>

          <section class="col-xl-6">
            <!-- User card -->
            <div class="card" style="min-height: 400px;">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-vote-yea mr-1"></i>
                  Votations
                </h3>
                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
          
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
          
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-sm table-borderless">
                    <thead class="">
                      <tr>
                        <th>#</th>
                        <th>Question</th>
                        <th class="text-center">Date de création</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for voting in voting_pag_obj%}
                      <tr>
                        <td>
                          {{voting.id}}
                        </td>
                        <td>
                          {{voting.question}}
                        </td>
                        <td class="text-center">
                          {{voting.creation_date}}
                        </td>
                        <td>
                          <a href="{% url 'vote:read_voting' id_voting=voting.id %}" role="button">
                            <button type="button"
                              class=" text-primary btn btn-block btn-light border border-primary btn-sm">Regarder</button>
                          </a>
                        </td>
                      </tr>
                      {% endfor%}
                    </tbody>
                  </table>
                </div>

              </div>
              <!-- /.card-body-->

              <div class="card-footer bg-white clearfix">
                <div class="row align-items-end text-center">
                  <div class="col">
                    <ul class="pagination pagination-sm m-0 float-right">
                      {% if voting_pag_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ voting_pag_obj.previous_page_number }}">&laquo;</a></li>
                      {% endif %}
                      {% for i in voting_pag_obj.paginator.page_range %}
                        {% if voting_pag_obj.number == i %}
                          <li class="page-item active"><a class="page-link" href=?page="{{ i }}">{{i}}</a></li>
                        {% else %}
                          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                      {% endfor %}
                      {% if voting_pag_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ voting_pag_obj.next_page_number }}">&raquo;</a></li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
              <!-- /.card-footer-->
            </div>
            <!-- /.card -->
          </section>
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}