
{% extends 'information/base.html' %}
{% block content %}
  {% load static %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        {% if messages %}
        {% for message in messages %}
              <div class="card-body">
                {% if message.level_tag == 'error' %}
                  <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="icon fas fa-ban"></i> {{ message }}.
                    
                  </div>
                {% endif %}
                {% if message.level_tag == 'warning' %}
                  <div class="alert alert-warning alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="icon fas fa-ban"></i> {{ message }}.
                  </div>
                {% endif %}
                {% if message.level_tag == 'success' %}
                <div class="alert alert-success alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <i class="icon fas fa-check"></i> {{ message }}.
                </div>
                {% endif %}
              </div>

        {% endfor %}
        {% endif %}
        <div class="row">
          <div class="col-sm-6">
            <div class="row mb-2">
              <div class="col-12">
                <h1 class="m-0">sel-e</h1>
                <h5 class="m-0">système d'échange local électronique</h5>
              </div><!-- /.col -->
            </div><!-- /.row -->
            <div class="row mb-2">
              <div class="col-12 col-md-9 col-lg-8 col-xl-6">
                <a href="#">
                  <button type="button" class="mt-3 btn btn-block btn-outline-primary">Connexion</button>
                </a>
              </div><!-- /.col -->
            </div>
          </div>
          <div class="col-sm-6">
              <div class="w-100 mt-5 mb-5 text-center ">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="10000">
                  <div class="carousel-inner text-secondary">
                    <div class="carousel-item active">
                      <h3 class="d-block w-100 font-italic font-weight-bold">
                        <span class="h5"><i class="fas fa-quote-left text-secondary"></i></span>
                        Proposez vos compétences
                        <span class="h5"><i class="fas fa-quote-right text-secondary"></i></span>
                      </h3>
                    </div>
                    <div class="carousel-item">
                      <h3 class="d-block w-100 font-italic font-weight-bold">
                        <span class="h5"><i class="fas fa-quote-left text-secondary"></i></span>
                        Faites des demandes individuelles
                        <span class="h5"><i class="fas fa-quote-right text-secondary"></i></span>
                      </h3>
                    </div>
                    <div class="carousel-item">
                      <h3 class="d-block w-100 font-italic font-weight-bold">
                        <span class="h5"><i class="fas fa-quote-left text-secondary"></i></span>
                        Prenez des décisions collectives
                        <span class="h5"><i class="fas fa-quote-right text-secondary"></i></span>
                      </h3>
                    </div>
                    <div class="carousel-item">
                      <h3 class="d-block w-100 font-italic font-weight-bold">
                        <span class="h5"><i class="fas fa-quote-left text-secondary"></i></span>
                        Travaillez pour le groupe
                        <span class="h5"><i class="fas fa-quote-right text-secondary"></i></span>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
          </div>  
        </div>
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-white">
              <div class="inner">
                <h3>150</h3>

                <p>Nombre de propositions</p>
              </div>
              <div class="icon">
                <i class="fas fa-tags"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-white">
              <div class="inner">
                <h3>53</h3>

                <p>Nombre d'utilisateurs</p>
              </div>
              <div class="icon">
                <i class="fas fa-user"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-white">
              <div class="inner">
                <h3>44</h3>

                <p>Nombre de groupes</p>
              </div>
              <div class="icon">
                <i class="fas fa-users"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-white">
              <div class="inner">
                <h3>12</h3>

                <p>Nombre de votes</p>
              </div>
              <div class="icon">
                <i class="fas fa-vote-yea"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->

        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-6">
            <div class="card " style="height: 410px;">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-chart-bar mr-1"></i>
                  Stats
                </h3>
            
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas id="lineChart" style="min-height: 250px; height: 330px; max-height: 330px; max-width: 100%;"></canvas>
                </div>
              </div>
              <!-- /.card-body -->
            </div>



          </section>
          <!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
          <section class="col-lg-6">

            <!-- Map card -->
            <div class="card" style="height: 410px;">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-map mr-1"></i>
                  Groupes locaux actifs
                </h3>
              </div>
              <div class="card-body">
                <div id="map" style="height: 325px; width: 100%;" data-json="{{ mapbox_url }}" data-geojson="{{ vector_layer }}"></div>
              </div>
              <!-- /.card-body-->
            </div>
            <!-- /.card -->
          </section>
          
          <!-- right col -->
          <!-- one col (We are only adding the ID to make the widgets sortable)-->

        </div>
        <div class="row">
          <!-- one col (We are only adding the ID to make the widgets sortable)-->
          <section class="col">
          
            <!-- Last poposals cards -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-tags mr-1"></i>
                  Dernières propositions
                </h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-3 col-6">
                    <div class="card ">
                      <!-- <div class="card-header text-center bg-primary">
                        Demande
                      </div> -->
                        <div class="card-body">
                          <div class="text-right">
                            <h6><span class="text-dark font-weight-bold">
                                Demande
                              </span>
                            </h6>
                          </div>
                          <div class="col-12  text-truncate">
                          <h5 class="text-left">Nettoyage du mur Rue du Bac </h5>
                          <p class="">
                            Nature:
                            <span class="text-secondary">
                              Activité
                            </span></br>
                            Catégorie:
                            <span class="text-secondary">
                              Nettoyage
                            </span></br>
                            Durée de travail:
                            <span class="text-secondary">
                              60 minutes
                            </span></br>
                            Description:
                            <span class="text-secondary">
                              Nous cherchons des volontaires pour nettoyer le
                              mur dégradé à la Rue du Bac.
                            </span></br>
                            Créateur(type):
                            <span class="text-secondary">
                              Groupe
                            </span></br>
                            Groupe local:
                            <span class="text-secondary">
                              Suresnes
                            </span></br>
                          </p>
                          <div class="text-center">
                            <a href="#" class="card-link text-center">Plus d'infos <i class="fas fa-arrow-circle-right"></i></a>
                          </div>

                        </div>
                      </div>
                    </div><!-- /.card -->
                  </div>
                  <div class="col-lg-3 col-6">
                    <div class="card">
                      <div class="card-body">
                        <div class="text-right">
                          <h6><span class="text-dark font-weight-bold">
                              Offre
                            </span></h6>
                        </div>
                        <div class="col-12  text-truncate">
                          <h5 class="text-left">Aide au devoirs</h5>
                  
                          <p class="">
                            Nature:
                            <span class="text-secondary">
                              Activité
                            </span></br>
                            Catégorie:
                            <span class="text-secondary">
                              Education
                            </span></br>
                            Durée de travail:
                            <span class="text-secondary">
                              45 minutes
                            </span></br>
                            Description:
                            <span class="text-secondary">
                              Je propose de l'aide au devoir.
                            </span></br>
                            Créateur(type):
                            <span class="text-secondary">
                              Utilsateur
                            </span></br>
                            Groupe local:
                            <span class="text-secondary">
                              Montreuil
                            </span></br>
                          </p>
                          <div class="text-center">
                            <a href="#" class="card-link text-center">Plus d'infos <i class="fas fa-arrow-circle-right"></i></a>
                          </div>
                        </div>
                  
                      </div>
                    </div><!-- /.card -->
                  </div>
                  <div class="col-lg-3 col-6">
                    <div class="card ">
                      <div class="card-body">
                        <div class="text-right">
                          <h6><span class="text-dark font-weight-bold">
                              Demande
                            </span>
                          </h6>
                        </div>
                        <div class="col-12  text-truncate">
                          <h5 class="text-left">Nettoyage du mur Rue du Bac </h5>
                          <p class="">
                            Nature:
                            <span class="text-secondary">
                              Activité
                            </span></br>
                            Catégorie:
                            <span class="text-secondary">
                              Nettoyage
                            </span></br>
                            Durée de travail:
                            <span class="text-secondary">
                              60 minutes
                            </span></br>
                            Description:
                            <span class="text-secondary">
                              Nous cherchons des volontaires pour nettoyer le
                              mur dégradé à la Rue du Bac.
                            </span></br>
                            Créateur(type):
                            <span class="text-secondary">
                              Groupe
                            </span></br>
                            Groupe local:
                            <span class="text-secondary">
                              Suresnes
                            </span></br>
                          </p>
                          <div class="text-center">
                            <a href="#" class="card-link text-center">Plus d'infos <i class="fas fa-arrow-circle-right"></i></a>
                          </div>
                  
                        </div>
                      </div>
                    </div><!-- /.card -->
                  </div>
                  <div class="col-lg-3 col-6">
                    <div class="card">
                      <div class="card-body">
                        <div class="text-right">
                          <h6><span class="text-dark font-weight-bold">
                              Offre
                            </span>
                          </h6>
                        </div>
                        <div class="col-12  text-truncate">
                          <h5 class="text-left">Aide au devoirs </h5>
                          <p class="">
                            Nature:
                            <span class="text-secondary">
                              Activité
                            </span></br>
                            Catégorie:
                            <span class="text-secondary">
                              Education
                            </span></br>
                            Durée de travail:
                            <span class="text-secondary">
                              45 minutes
                            </span></br>
                            Description:
                            <span class="text-secondary">
                              Je propose de l'aide au devoir.
                            </span></br>
                            Créateur(type):
                            <span class="text-secondary">
                              Utilsateur
                            </span></br>
                            Groupe local:
                            <span class="text-secondary">
                              Montreuil
                            </span></br>
                          </p>
                          <div class="text-center">
                            <a href="#" class="card-link text-center">Plus d'infos <i class="fas fa-arrow-circle-right"></i></a>
                          </div>
                        </div>
                  
                      </div>
                    </div><!-- /.card -->
                  </div>


                </div>
              </div>
              <!-- /.card-body-->
          
            </div>
            <!-- /.card -->
          </section>



        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}