{% extends 'information/base.html' %}

{% block content %}
{% load static %}
    <div class="bg-dark text-center" style="height: 1100px;">
            <div class="container-fluid">
            <h1 class="display-2 text-primary pt-5">sel-e</h1>
            <p class="display-6 text-secondary">système d'échange local électronique</p>
            <img src="{% static 'information/images/sele_blue.jpg' %}" id="" width="400" alt="under construction">
            <h1 class="lead text-secondary mt-5">En construction. En ligne à T2 2022.</h1>
            </div>
    </div>

{% endblock %}