{% extends 'information/base.html' %}
{% block content %}
{% load static %}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Mentions légales</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <!-- Main row -->
        <div class="row">
            <!-- right col -->
            <!-- one col (We are only adding the ID to make the widgets sortable)-->
            <section class="col">

                <!-- Last poposals cards -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-info mr-1"></i>
                            Mentions légales
                        </h3>
                    </div>
                    <!-- Table . 2nd card-body-->
                    <div class="card-body">
                        <h5> Editeur</h5>
                        <ul>
                            <li>Société: NA</li>
                            <li>Type de société: NA</li>
                            <li>SIRET: NA</li>
                            <li>SIEGE SOCIAL: NA</li>
                            <li>Télephone: NA</li>
                            <li>Adresse eléctronique: NA</li>
                        </ul>
                        <h5>Prestataire d'hébergement</h5>
                        <ul>
                            <li>Société: DigitalOcean Llc</li>
                            <li>Type de société: Société à responsabilité limitée)</li>
                            <li>SIRET: NA</li>
                            <li>SIEGE SOCIAL: 101 Avenue of the Americas, 10th Floor, New York, NY 10013 USA</li>
                            <li>Télephone: NA</li>
                            <li>Adresse eléctronique: NA</li>
                        </ul>
                    </div>
                </div>
                <!-- /.card -->
            </section>

        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock %}