{% extends 'information/base.html' %}
{% block content %}
{% load static %}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Conditions générales d'utilisation du site sel-e.fr et Mentions légales</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <!-- Main row -->
        <div class="row">
            <!-- right col -->
            <!-- one col (We are only adding the ID to make the widgets sortable)-->
            <section class="col">

                <!-- Last poposals cards -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-info mr-1"></i>
                            CGU & Mentions légales
                        </h3>
                    </div>
                    <!-- Table . 2nd card-body-->
                    <div class="card-body">
                        <h5>
                            ARTICLE 1 : Objet
                        </h5>

                        <p class="card-text">
                            Les présentes « conditions générales d'utilisation » ont pour objet l'encadrement juridique de l’utilisation du site
                            sel-e.fr et de ses services.
                        </p>
                        <p class="card-text">Ce contrat est conclu entre :</p>
                        <ul class="card-text">
                            <li>
                                Le gérant du site internet, ci-après désigné « l’Éditeur ».
                            </li>
                            <li>
                                Toute personne physique ou morale souhaitant accéder au site et à ses services, ci-après appelé l’«
                                Utilisateur ».
                            </li>
                        </ul>

                        <p class="card-text">
                            Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur, et son accès au site vaut
                            acceptation de ces conditions.
                        </p>


                        <h5>ARTICLE 2 : Mentions légales</h5>


                        <p class="card-text">
                            Le site sel-e.fr est édité par Piergiovanni Thomas domicilié à, 92340 Bourg-la-Reine (France).
                        </p>
                        <p class="card-text">
                            Le site est hébergé par DigitalOcean Llc, 101 Avenue of the Americas, 10th Floor, New York, NY 10013 USA.
                        </p>

                        <h5>ARTICLE 3 : Accès aux services</h5>
                        <p class="card-text">
                            L’Utilisateur du site sel-e.fr à accès aux services suivants :
                        </p>
                        <ul class="card-text">
                            <li>
                                Accueil.
                            </li>
                            <li>
                                Info.
                            </li>
                            <li>
                                Créer un compte.
                            </li>
                            <li>
                                Connexion.
                            </li>
                        </ul>

                        <p class="card-text">
                            Tout Utilisateur ayant accès à internet peut accéder gratuitement et depuis n’importe où au site. Les frais
                            supportés
                            par l’Utilisateur pour y accéder (connexion internet, matériel informatique, etc.) ne sont pas à la charge de
                            l’Éditeur.
                            Les services suivants sont accessibles pour l’Utilisateur que s’il est membre du site (c’est-à-dire qu’il s'est
                            identifié à l’aide de ses identifiants de connexion) :
                        </p>
                        <ul class="card-text">
                            <li>
                                Mon groupe local – Tableau de bord.
                            </li>
                            <li>
                                Mon groupe local – Discussions.
                            </li>
                            <li>
                                Mon groupe local – Votations.
                            </li>
                            <li>
                                Déconnexion.
                            </li>
                            <li>
                                Gérer mon compte.
                            </li>
                        </ul>
                        <p class="card-text"></p>
                        Le site et ses différents services peuvent être interrompus ou suspendus par l’Éditeur, notamment à l’occasion d’une
                        maintenance, sans obligation de préavis ou de justification.
                        </p>

                        <h5>ARTICLE 4 : Responsabilité de l’Utilisateur</h5>
                        <p class="card-text">
                            <span class="font-weight-bold">L'Utilisateur doit avoir plus de 18 ans pour utiliser la plateforme.</span>
                        </p>
                        <p class="card-text">
                            L'Utilisateur est responsable des risques liés à l’utilisation de son identifiant de connexion et de son mot de
                            passe.
                        </p>
                        <p class="card-text">
                            Le mot de passe de l’Utilisateur doit rester secret. En cas de divulgation de mot de passe, l’Éditeur décline toute
                            responsabilité.
                        </p>
                        <p class="card-text">
                            L’Utilisateur assume l’entière responsabilité de l’utilisation qu’il fait des informations et contenus présents sur
                            le site sel-e.fr.
                        </p>
                        <p class="card-text">
                            Tout usage du service par l'Utilisateur ayant directement ou indirectement pour conséquence des dommages doit faire
                            l'objet d'une indemnisation au profit du site.
                        </p>
                        <p class="card-text">
                            Le site permet aux membres de publier sur le site :
                        </p>
                        <ul class="card-text">
                            <li>
                                des propositions.
                            </li>
                            <li>
                                des discussions.
                            </li>
                            <li>
                                des commentaires.
                            </li>
                            <li>
                                des votations.
                            </li>
                            <li>
                                des votes.
                            </li>
                        </ul>

                        <p class="card-text">
                            Le membre s’engage à tenir des propos respectueux des autres et de la loi et accepte que ces publications soient
                            modérées ou refusées par l’Éditeur, sans obligation de justification.
                        </p>
                        <p class="card-text">
                            De même, le membre s’engage à réaliser uniquement des échanges licites sur la plateforme.
                        </p>
                        <p class="card-text">
                            Le site sel-e.fr à pour vocation de promouvoir les échanges sans argents. Les échanges se font sous la
                            responsabilité de chaque membre. Ceux-ci s’engagent à respecter les réglementations sociales et fiscales en vigueur.
                        </p>
                        <p class="card-text">
                            Le membre doit considérer que <span class="font-weight-bold">les échanges réalisées ne sont exonérées de TVA et d’impôts que dans la mesure où il
                            s’agit d’une activité non répétitive et ponctuelle</span>, type « coup de main », ne dépassant pas un certain seuil et n’entre
                            pas dans le cadre d’une profession.
                        </p>
                        <p class="card-text">
                            En publiant sur le site, l’Utilisateur cède à la société éditrice le droit non exclusif et gratuit de représenter,
                            reproduire, adapter, modifier, diffuser et distribuer sa publication, directement ou par un tiers autorisé.
                        </p>
                        <p class="card-text">
                            L’Éditeur s'engage toutefois à citer le membre en cas d’utilisation de sa publication.
                        </p>


                        <h5>ARTICLE 5 : Responsabilité de l’Éditeur</h5>
                        <p class="card-text">
                            Tout dysfonctionnement du serveur ou du réseau ne peut engager la responsabilité de l’Éditeur.
                        </p>
                        <p class="card-text">
                            De même, la responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et
                            insurmontable
                            d'un tiers.
                        </p>
                        <p class="card-text">
                            Le site sel-e.fr s'engage à mettre en œuvre tous les moyens nécessaires pour garantir la sécurité et la
                            confidentialité des données. Toutefois, il n’apporte pas une garantie de sécurité totale.
                        </p>
                        <p class="card-text">
                            L’Éditeur se réserve la faculté d’une non-garantie de la fiabilité des sources, bien que les informations diffusées
                            sur le site soient réputées fiables.
                        </p>

                        <h5>ARTICLE 6 : Propriété intellectuelle</h5>
                        <p class="card-text">
                            Les contenus du site sel-e.fr (logos, textes, éléments graphiques, vidéos, etc.) son protégés par la License GPL-3.0
                            license , en vertu du Code de la propriété intellectuelle.
                        </p>
                        <p class="card-text">
                            L’Utilisateur est entièrement responsable de tout contenu qu’il met en ligne et il s’engage à ne pas porter atteinte
                            à un tiers.
                        </p>
                        <p class="card-text">
                            L’Éditeur du site se réserve le droit de modérer ou de supprimer librement et à tout moment les contenus mis en
                            ligne par les utilisateurs, et ce sans justification.
                        </p>

                        <h5>ARTICLE 7 : Données personnelles</h5>
                        <p class="card-text">
                            L’Utilisateur doit obligatoirement fournir des informations personnelles pour procéder à son inscription sur le
                            site.
                        </p>
                        <p class="card-text">
                            L’adresse électronique (e-mail) de l’utilisateur pourra notamment être utilisée par le site sel-e.fr pour la
                            communication d’informations diverses et la gestion du compte.
                        </p>
                        <p class="card-text">
                            L’Éditeur ne commercialisera aucune information publiée sur sel-e.fr.
                        </p>
                        <p class="card-text">
                            sel-e.fr garantit le respect de la vie privée de l’utilisateur, conformément à la loi n°78-17 du 6 janvier 1978
                            relative à l'informatique, aux fichiers et aux libertés.
                        </p>
                        <p class="card-text">
                            En vertu des articles 39 et 40 de la loi en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de
                            rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit via :
                        </p>
                        <ul class="card-text">
                            <li>
                               sel-e@outlook.fr
                            </li>
                        </ul>

                        <h5>ARTICLE 8 : Liens hypertextes</h5>
                        <p class="card-text">
                            Les domaines vers lesquels mènent les liens hypertextes présents sur le site n’engagent pas la responsabilité de
                            l’Éditeur de sel-e.fr, qui n’a pas de contrôle sur ces liens.
                        </p>
                        <p class="card-text">
                            Il est possible pour un tiers de créer un lien vers une page du site sel-e.fr sans autorisation expresse de
                            l’éditeur.
                        </p>


                        <h5>ARTICLE 9 : Évolution des conditions générales d’utilisation</h5>
                        <p class="card-text">
                            Le site sel-e.fr se réserve le droit de modifier les clauses de ces conditions générales d’utilisation à tout moment
                            et
                            sans justification.
                        </p>


                        <h5>ARTICLE 10 : Durée du contrat</h5>
                        <p class="card-text">
                            La durée du présent contrat est indéterminée. Le contrat produit ses effets à l'égard de l'Utilisateur à compter du
                            début de l’utilisation du service.
                        </p>


                        <h5>ARTICLE 11 : Droit applicable et juridiction compétente</h5>
                        <p class="card-text">
                            Le présent contrat dépend de la législation française.
                            En cas de litige non résolu à l’amiable entre l’Utilisateur et l’Éditeur, les tribunaux de Nanterre sont compétents
                            pour
                            régler le contentieux.
                        </p>
                    </div>
                </div>
                <!-- /.card -->
            </section>

        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock %}