{% extends 'information/base.html' %}
{% block content %}
{% load static %}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Proposition - <span class="text-danger font-weight-bold font-italic">
                        Supprimer</span></h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><i class="fas fa-tag mr-1"></i>Détail</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">       
                            <p class="card-text">Type:</br>
                                <span class="card-text text-secondary">Demande</span>
                            </p>
                            <p class="card-text">Status:</br>
                                <span class="card-text text-secondary">En cours</span>
                            </p>
                            <p class="card-text">Description:</br>
                                <span class="card-text text-secondary">Nous cherchons des volontaires pour nettoyer le mur
                                    dégradé à la Rue du Bac.</span>
                            </p>
                            <p class="card-text">Nature:</br>
                                <span class="card-text text-secondary">Activité</span>
                            </p>
                            <p class="card-text">Catégorie:</br>
                                <span class="card-text text-secondary">Nettoyage</span>
                            </p>
                            <p class="card-text">Période de réalisation & temps de travail demandé:</br>
                            </p>
                        </div>
                    </div>
                    <div class="row ml-2">
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Début</span>
                                    <span class="info-box-number text-center text-muted mb-0">31-12-2021</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Fin</span>
                                    <span class="info-box-number text-center text-muted mb-0">07-01-2022</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Travail (min.)</span>
                                    <span class="info-box-number text-center text-muted mb-0">240</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="card-text">Créateur.rice:</br>
                                <span class="card-text text-secondary">Thomas Sele</span>
                            </p>
                            <p class="card-text">Preneur.se:</br>
                                <span class="card-text text-secondary">Ginette</span>
                            </p>
                            <p class="card-text">Evaluation du travail réalisé:</br>
                                <span class="card-text text-secondary">4/5</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white clearfix">
                    <div class="row">
                        <div class="col-sm-3 mb-2">
                            <a href="#" role="button">
                                <button type="button"
                                    class="text-secondary btn btn-block btn-light border border-secondary btn-sm">Annuler</button>
                            </a>
                        </div>
                        <div class="col-sm-6 mb-2"></div>
                        <div class="col-sm-3 mb-2">
                            <a href="#" role="button">
                                <button type="button" class="btn btn-block btn-danger btn-sm ">Supprimer</button>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
    <!-- /.card -->

</section>

<!-- /.content -->
{% endblock %}