{% extends 'information/base.html' %}
{% block content %}
{% load static %}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Proposition - <span class="text-primary font-weight-bold font-italic">
                        Nettoyage Rue du Bac</span></h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-tag mr-1"></i>Détail</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="card-body">
                    
                        <p class="card-text">Type:</br>
                        <span class="card-text text-secondary">Demande</span></p>
                        <p class="card-text">Status:</br>
                            <span class="card-text text-secondary">En cours</span>
                        </p>
                        <p class="card-text">Description:</br>
                            <span class="card-text text-secondary">Nous cherchons des volontaires pour nettoyer le mur dégradé à la Rue du Bac.</span>
                        </p>
                        <p class="card-text">Nature:</br>
                            <span class="card-text text-secondary">Activité</span>
                        </p>
                        <p class="card-text">Catégorie:</br>
                            <span class="card-text text-secondary">Nettoyage</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-4">
                    <div class="info-box bg-light">
                        <div class="info-box-content">
                            <span class="info-box-text text-center text-muted">Début de proposition</span>
                            <span class="info-box-number text-center text-muted mb-0">31-12-2021</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="info-box bg-light">
                        <div class="info-box-content">
                            <span class="info-box-text text-center text-muted">Fin de proposition</span>
                            <span class="info-box-number text-center text-muted mb-0">07-01-2022</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="info-box bg-light">
                        <div class="info-box-content">
                            <span class="info-box-text text-center text-muted">Effort(min.)</span>
                            <span class="info-box-number text-center text-muted mb-0">240</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-body text-truncate">
                        <p class="card-text">Créateur.rice:</br>
                            <span class="card-text text-secondary">Thomas Sele</span>
                        </p>
                        <p class="card-text">Preneur.se:</br>
                            <span class="card-text text-secondary">Ginette</span>
                        </p>
                        <p class="card-text">Evaluation du travail réalisé:</br>
                            <span class="card-text text-secondary">4/5</span>
                        </p>
                    </div>
                </div>
            </div>


        </div>
        <!-- /.card-body -->
    </div>

    <!-- DIRECT CHAT -->
    <div class="card direct-chat direct-chat-primary">
        <div class="card-header">
            
            <h3 class="card-title"><i class="fas fa-comments mr-1"></i>Discussions</h3>
    
            <div class="card-tools">
                <span title="3 New Messages" class="badge badge-primary">3</span>
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <!-- Conversations are loaded here -->
            <div class="direct-chat-messages">
                <!-- Message. Default to the left -->
                <div class="direct-chat-msg">
                    <div class="direct-chat-infos clearfix">
                        <span class="direct-chat-name float-left">Ginette</span>
                        <span class="direct-chat-timestamp float-left ml-2">01 Jan 2:00 </span>
                    </div>
                    <!-- /.direct-chat-img -->
                    <div class="direct-chat-text">
                        Bonjour, je me propose pour réaliser ce travail. Par contre je ne peut la rélaiser que le 08.
                    </div>
                    <!-- /.direct-chat-text -->
                </div>
                <!-- /.direct-chat-msg -->
    
                <!-- Message to the right -->
                <div class="direct-chat-msg right">
                    <div class="direct-chat-infos clearfix">
                        <span class="direct-chat-name float-right">ThomasSele</span>
                        <span class="direct-chat-timestamp float-right mr-2">01 Jan 13:00</span>
                    </div>
                    <!-- /.direct-chat-infos -->
                    <div class="direct-chat-text">
                        Bonjour. Très bien, c'est parfait.
                    </div>
                    <!-- /.direct-chat-text -->
                </div>
                <!-- /.direct-chat-msg -->
    
                <!-- Message. Default to the left -->
                <div class="direct-chat-msg">
                    <div class="direct-chat-infos clearfix">
                        <span class="direct-chat-name float-left">Ginette</span>
                        <span class="direct-chat-timestamp float-left ml-2">03 Jan 15:37</span>
                    </div>
                    <!-- /.direct-chat-infos -->
                    <div class="direct-chat-text">
                        Super, je la sélectionne.
                    </div>
                    <!-- /.direct-chat-text -->
                </div>
                <!-- /.direct-chat-msg -->
    
                <!-- Message to the right -->
                <div class="direct-chat-msg right">
                    <div class="direct-chat-infos clearfix">
                        <span class="direct-chat-name float-right">ThomasSele</span>
                        <span class="direct-chat-timestamp float-right mr-2">04 Jan 16:10</span>
                    </div>
                    <!-- /.direct-chat-infos -->
                    <div class="direct-chat-text">
                        Parfait.
                    </div>
                    <!-- /.direct-chat-text -->
                </div>
                <!-- /.direct-chat-msg -->
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer bg-white mt-2 mb-2">
            <form action="#" method="post">
                <div class="input-group">
                    <input type="text" name="message" placeholder="Taper message ..." class="form-control">
                    <span class="input-group-append">
                        <button type="button" class="text-success btn btn-block btn-light border border-success btn-sm">Envoyer</button>
                    </span>
                </div>
            </form>
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
{% endblock %}