{% extends 'information/base.html' %}
{% block content %}
{% load static %}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        {% include 'information/messages.html' %}
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Proposition - <span class="text-primary font-weight-bold font-italic">
                        {{ user.collectivity.name }} ({{ user.collectivity.postal_code }})</span>
                </h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <!-- Main row -->
        <div class="row">
            <!-- right col -->
            <!-- one col (We are only adding the ID to make the widgets sortable)-->
            <section class="col">
                <!-- Last poposals cards -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-tags mr-1"></i>
                            Propositions
                        </h3>
                    </div>
                    <div class="card-body mt-3 mb-1">
                        <!-- Form -->
                        <form id="collectivity_propositions_form" name="collectivity_propositions_form" action="{% url 'proposition:collectivity_propositions'%}" method="post" novalidate>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="row">
                                        <div class="col-md-7">
                                            {{form.search_input.label}}
                                            {{form.search_input}}
                                            {% for error in form.search_input.errors %}
                                                {% if error %}
                                                    <p class="text-danger"> {{ error }}</p>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="col-md-3">
                                            <button type="submit" id="search_proposition_button" name="cpf_search_button" value="yes"
                                                class="text-dark btn btn-block btn-light border border-secondary btn-sm mt-4">Rechercher</button>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="submit" name="cpf_clear_button" value="yes"
                                                class="text-secondary font-italic btn btn-block btn-light border border-light btn-sm mt-4">Effacer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body-->
                    <!-- Table . 2nd card-body-->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-sm table-borderless">
                                <thead class="">
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">Nom</th>
                                        <th class="text-center">Type</th>
                                        <th class="text-center">Temps de travail</th>
                                        <th class="text-center bg-light">Statut</th>
                                        <th class="text-center">Début</th>
                                        <th class="text-center">Fin</th>
                                        <th class="text-center">Créateur</th>
                                        <th class="text-center">Preneur</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for proposition in page_objects%}
                                        <tr>
                                            <td class="text-center">
                                                {{proposition.id}}
                                            </td>
                                            <td class="text-center">
                                                {{proposition.name}}
                                            </td>
                                            <td class="text-center">
                                                {{proposition.proposition_kind}}
                                            </td>
                                            <td class="text-center">
                                                {{proposition.duration}}
                                            </td>
                                            <td class="text-center font-italic bg-light">
                                                {{proposition.proposition_status}}
                                            </td>
                                            <td class="text-center">
                                                {{proposition.start_date}}
                                            </td class="text-center">
                                            <td class="text-center">
                                                {{proposition.end_date}}
                                            </td class="text-center">
                                            <td class="text-center">
                                                {{proposition.proposition_creator.user_name}}
                                            </td>
                                            <td class="text-center">
                                                {{proposition.proposition_taker.user_name}}
                                            </td>
                                            <td>
                                                <a href="{% url 'proposition:read_proposition' id_proposition=proposition.id %}" role="button">
                                                    <button type="button" id="watch_proposition_button"
                                                        class=" text-primary btn btn-block btn-light border border-primary btn-sm">Regarder</button>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{% url 'proposition:delete_proposition' id_proposition=proposition.id %}" role="button">
                                                    <button type="button" class="btn btn-block btn-danger btn-sm">Supprimer</button>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /end card body -->

                    <div class="card-footer bg-white clearfix">
                        <div class="row mb-4 mt-4">
                            <div class="col-sm-8"></div>
                            <div class="col-sm-4">
                                <a href="{% url 'proposition:create_proposition'%}" role="button">
                                    <button type="button" id="go_to_create_proposition_button" class="btn btn-block btn-success">Créer une proposition</button>
                                </a>
                            </div>
                        </div>
                        {% include 'information/pagination.html' %}
                    </div>
                    <!-- /.card-footer-->
             </div>
                <!-- /.card -->
            </section>

        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock %}